$primary-color: rgb(0, 128, 0);        
$card-bg-color: rgb(50, 205, 50);      
$bg-header-color: rgb(34, 139, 34);    
$bg-main-color: rgb(144, 238, 144);    
$bg-footer-color: rgb(0, 100, 0);      
$white-color: rgb(255, 255, 255);      
$text-color: $white-color;